body{
background: linear-gradient(rgb(255, 205, 243), white);
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(15, 2, 99)
    text-align: center;
    

}

