
body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh; 
}



#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(239, 192, 240);
    border-radius: 25px;
    max-width: 500px;
    overflow:hidden;

}

#display{
    width:100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(236, 208, 236);
    color: white;
}


#bttns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding:25px;
}


button{

    width: 100px;
    height: 100px;
    border-radius: 15px;
    border:none;
    background-color: rgb(140, 58, 179);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(178, 99, 214);
}

.operator-bttn{
    background-color: rgb(175, 90, 214)
}
